/* -------------------Grid------------------ */
.mainContainer {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas:
    "header header header header"
    "filter sort sort sort"
    "filter product product product"
    "filter product product product";
  gap: 15px;
}

/* ---------------------header---------------- */
.header {
  grid-area: header;
  width: 103rem;
  margin-left: -10rem;
  margin-top: 375px;
  height: 90px;
  padding: 20px;
  text-align: center;
  background-color: #4ba6eeb8;
  box-shadow: 0 2px 5px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 6px;
}
/* --------------headers elements---------------- */
.headerTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 24px;
  color: #fff;
}
.headerTitleDescription {
  font-size: 24px;
  color: #fff;
  margin: -20px;
}

/* ----------------filter--------------------- */
.filter {
  grid-area: filter;
  justify-content: left;
  margin-left: -35px;
  margin-top: 50px;
  margin-right: 5rem;
}
.filterTitle {
  margin-top: 50px;
  margin-bottom: 3px;
}
.brandSelect {
  border-color: transparent;
  border-bottom: 2px solid #1a2747;
  font-size: 16px;
}
.brandText {
  font-family: "Times New Roman", Times, serif;
}

/* -----------------product--------------------- */
.product {
  grid-area: product;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: -6rem;
}
/*------------------ products cart---------------- */
.container {
  margin-top: 0px;
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 10px;
  row-gap: 15px;
  max-height: 10%;
  margin-bottom: 20px;
}
.productContainer {
  list-style: none;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  margin-top: -7px;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  min-height: 350px;
  text-align: center;
  max-width: 250px;
}
.img {
  max-width: 280px;
  height: 200px;
  margin: -15px 20px;
  overflow: hidden;
  object-fit: contain;
}
.stars {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px 50px;
}
.starss {
  font-size: 18px;
  color: #ff9f43;
}
.starss:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.6s;
}

.sectionEl {
  display: flex;
  flex-direction: row;
}
.text {
  margin-top: -24px;
  display: flex;
  flex-direction: column;
}
.nameBrand {
  font-weight: bold;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -12px;
}
.info {
  font-size: 22px;
  color: #222f3e;
}
.price {
  color: rgb(233, 121, 121);
  margin-top: -15px;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  text-shadow: 0 0 black;
  font-weight: 700;
}

/* --------------------buttons---------------------- */
.buttonBuy {
  position: absolute;
  top: 343px;
  right: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffff;
  background-color: #03a9f4;
  font-size: 18px;
  border-radius: 18px;
  border-color: transparent;
  width: 200px;
  height: 40px;
  font-weight: bold;
}
.buttonBuy:hover {
  background-color: #48baefd6;
}
.btnShow {
  position: fixed;
  top: 10px;
  right: 130px;
  border: transparent;
  border-radius: 8px;
  background-color: aquamarine;
  height: 16px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  padding: 26px 20px;
}
.messageHide {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 140px;
  font-size: large;
  color: red;
}

.btnSearch {
  color: #ffff;
  background-color: #03a9f4;
  border-color: transparent;
  border-radius: 6px;
  padding-left: 5px;
}
.btnSearchEl {
  font-size: 18px;
  border: transparent;
  margin: 3px;
  color: #ffff;
  background-color: #03a9f4;
  cursor: pointer;
}
.btnMore {
  justify-content: center;
  background-color: #03a9f4;
  border: none;
  padding: 10px 25px;
  margin-right: -922px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

/* ---------------------sort------------------- */
.sort {
  grid-area: sort;
  text-align: right;
  padding-right: 10rem;
  margin-top: 25px;
}
.sortTitle {
  display: inline;
}
.sortOptions {
  margin-left: 10px;
  display: inline;
}

/* --------------------------respons---------------------- */
@media screen and (max-width: 1440px) {
  .header {
    margin-top: 349px;

    padding: 23px 80px;
    width: 97rem;
  }
  .headerTitle{
    font-size:38px;
  }
  .headerTitleDescription{
    font-size: 34px;
  }
  .product {
    margin-left: 75px;
  }
  .container {
    grid-template-columns: 300px 300px 300px;
  }
  .filter {
    margin-top: 55px;
    margin-left: 55px;
  }
  .sort {
    padding-right: 198px;
    margin-top: 22px;
  }
  .btnMore {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 102rem;
    margin-top: 22rem;
  }
  .product {
    margin-left: 55px;
  }
  .container {
    grid-template-columns: 300px 300px 300px;
    gap: 35px;
  }
  .headerTitle{
    font-size:38px;
  }
  .headerTitleDescription{
    font-size: 34px;
  }
  .sort {
    padding-right: 63px;
  }
  .filter {
    margin-top: 65px;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    margin-left: -15px;
  }
  .header {
    width: 96rem;
    margin-top: 24%;
  }
  .headerTitle{
    font-size: 35px;
    padding-left: 15rem;
  }
  .headerTitleDescription{
    font-size: 30px;
    padding-left: 15rem;
  }
  .filter {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
  }
  .brandSelect {
    font-size: 28px;
  }
  .filterForm {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 58px;
    font-size: 26px;
  }
  .container {
    margin-top: 104px;
    grid-template-columns: 300px 300px 300px;
    margin-left: -121px;
  }
  .sort {
    padding-right: 380px;
    margin-top: 134px;
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin-top: 104px;
    grid-template-columns: 350px 350px;
  }
  .header {
    width: 83rem;
    margin-top: 22rem;
  }
  .headerTitle {
    font-size: 32px;
  }
  .headerTitleDescription {
    font-size: 28px;
  }
  .brandSelect {
    font-size: 28px;
  }
  .sort {
    padding-right: 200px;
    margin-top: 92px;
  }
  .productContainer {
    max-width: 450px;
  }
  .product {
    margin-top: 105px;
  }
}
