body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(252, 252, 253);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}
img{
  width: 100%;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgba(169, 169, 169, 0.89);
}